@import "variables";

#orderInformation{
    
    display: none;
    max-width: 50rem;
}

form{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
/* Style inputs with type="text", select elements and textareas */
input[type=text],input[type=email], select, textarea {
    width: 100%; /* Full width */
    padding: 1.2rem; /* Some padding */ 
    border: .1rem solid #ccc; /* Gray border */
    border-radius: .4rem; /* Rounded borders */
    box-sizing: border-box; /* Make sure that padding and width stays in place */
    margin-top: .6rem; /* Add a top margin */
    margin-bottom: 1.6rem; /* Bottom margin */
    resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
}
  
/* Style the submit button with a specific background color etc */
input[type=submit] {
    align-self: center;
    display: inline-block;
    font-family: "Quicksand", sans-serif;
    font-weight: 600;
    background-color: $tertiary-color;
    border: none;
    border-radius: 2rem 0 2rem 0;
    padding: 1.5rem 3.2rem;
    text-align: center;
    font-size: 2rem;
    transition-duration: 1s;
    transform : scale(1);
    outline: none;
    border: 0.1rem solid #66C3CA;
    &:hover{
        border-radius: 0 2rem 0 2rem;
        transform: scale(1.2) rotate(-3deg);
        cursor: pointer;
    }
}
  
/* Add a background color and some padding around the form */
.container {
border-radius: 0.5rem;
background-color: #f2f2f2;
padding: 2rem;
}