@import "variables";

#fiche-produit{
    
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    @media only screen and (max-width: 767px) {
        flex-direction: column;
        text-align: center;
        }
    &__image{
        
        height: 250px;
        width: 250px;
        margin: 2rem;
        object-fit: cover;
        border-radius: 50%;
        border: 4px solid $primary-color;
        transition-delay: 1s;
    }
    &__prix{
        font-size: x-large;
        margin-top: 0;
    }
}
#colors-section{
    display: flex;
    @media only screen and (max-width: 767px) {
        justify-content: center ;
        
    }
    
    .colorViewer{
        margin-right: 2rem;
        height: 50px;
        width: 50px;
        border: 3px solid white;
        border-radius: 50%;
        transition-duration: 1.5s;
        &:hover{
            transform: scale(1.2);
        }
    }
}
.orderBox{
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    width: 90%;
}

@mixin displayCenter{
    display: flex;
    justify-content: center;
    align-items: center;
    
}

#selectQuantity{
    @include displayCenter;
    width: fit-content;
    height: fit-content;
    flex-direction: row;
    transition-duration: 1s;
    overflow: hidden;
    font-family: "Quicksand", sans-serif;
    border: 1px solid #66C3CA;
    border-radius: 2rem 0 2rem 0;
    
    
    &__minus{
        @include displayCenter;
        font-size: 14px;
        height: 50px;
        width: 50px;
        border-radius: 2rem 0 0 0;
        background-color: $tertiary-color;
        &:hover{
            background-color: $primary-color;
        }
    }
    &__quantity{
        @include displayCenter;
        font-size: 20px;
        height: 50px;
        width: 100px;
        background-color: $tertiary-color;
    }
    &__plus{
        @include displayCenter;
        font-size: 14px;
        height: 50px;
        width: 50px;
        border-radius: 0 0 2rem 0;
        background-color: $tertiary-color;
        &:hover{
            background-color: $primary-color;
        }
    }
}